@import '~src/styles/base/_colors.scss';

.selectContainer {
  position: relative;
  cursor: pointer;
}

.errorText {
  left: 0px;
  margin: 6px 0px 6px 0px;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $error;
}

.error {
  border: 0.9px solid $error;
  border-radius: 4px;
}

.selectContainer {
  [class^='react-select__control'] {
    position: relative;
    background: $white;
    border: none;
    border: 1px solid $gray-lightest;
    padding-left: 16px;
    height: 45px;
    border-radius: 6px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
  }
}

.selectContainer {
  [class^='react-select__value-container'] {
    padding: 0 !important;
  }
}
