@import '../../../styles/mixin/media-screen.scss';

.container {
  width: 100%;
  height: 636px;
  padding: 0 30px;
  position: relative;

  @include for-phone-only {
    height: auto;
    padding-top: 24px;
    position: initial;
  }
}

.forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  @include for-phone-only {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 145px auto;
  }
}

.productInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include for-phone-only {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  input, div, textarea {
    width: 100%;
  }
  
}

.label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #1A2224;
  margin-bottom: 10px !important;
}

.prices {
  display: flex;

  flex-direction: row;

  @include for-phone-only {
    flex-direction: column;
  };
}

.price{
  margin-right: 20px;
}

.separatedTop {
  margin-top: 10px;
}

.discountArea {
  background: #F7F8FA;
  border-radius: 6px;
  width: 100%;
  max-width: 576px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discountText {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #1A2224;
  margin-bottom: 12px;
}

.discountPercentage {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #1A2224;
}

.imagesArea {
  @include for-phone-only {
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.imagesAreaHidden {
  grid-row-start: 1;
  grid-row-end: 2;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  img {
    max-width: 20%;
  }
}

.dropzone {
  max-width: 622px;
  height: 112px;
  background: #F7F8FA;
  border: 1px dashed #A0ACAF;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  margin-top: 10px;
  cursor: pointer;
}

.uploadInstructions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instructionsDetail {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 24.77px;;
}

.attach {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #1A2224;
  margin-bottom: 4px;
}

.limit {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #A0ACAF;
}

.photos {
  margin-top: 17px;
  height: 119px;
  max-width: 622px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 13px;
}

.photo {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #F1F3F3;
  box-sizing: border-box;
  border-radius: 6px;
}

.continueFloating {
  font-family: Font Awesome 5 Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #EB5433;
  flex: none;
  order: 1;
  align-self: center;
  margin: 12px 0px;
  cursor: pointer;
  position: absolute;
  bottom: 48.5px;
  right: 50px;
  display: block;

  @include for-phone-only {
    display: none;
  }
}

.continueMobile {
  display: none;

  @include for-phone-only {
    height: 50px;
    width: 100%;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px -2px 20px rgba(160, 172, 175, 0.2);
    justify-content: center;
    align-items: center;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #EB5433;
    flex: none;
    order: 0;
    align-self: center;
    margin: 12px 0px;
    cursor: pointer;
  }
}