.landingMobile {
  padding-bottom: 62px;
}

.steps {
  margin-top: 20px;
  position: relative;
}

.howItWorks {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #1A2224;
  z-index: 22;
}

.shapes {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 58px;
}

.firstFourSteps, .lastSteps {
  padding: 0 47px;
}

.firstStep {
  margin-top: 184px;
}

.secondStep {
  margin-top: 204px;
}

.thirdStep {
  margin-top: 212px;
}

.fourthStep {
  margin-top: 219px;
}

.fifthStep {
  margin-top: 207px;
}

.sixthStep {
  margin-top: 265px;
}

.seventhStep {
  margin-top: 248px;
}