@import '~src/styles/mixin/media-screen.scss';

.container {
  position: relative;
  display: flex;
}

.stepInfo {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #A0ACAF;

  @include for-large-tablet-only {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px !important;
  }

  @include for-phone-only {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 16px !important;
  }
}

.title {
  margin-bottom: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #3561D1;

  @include for-large-tablet-only {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 28px;
  }

  @include for-phone-only {
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 25px;
  }
}

.subtitle {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #1A2224;
  width: 528px;


  @include for-large-tablet-only {
    font-size: 22px;
    line-height: 26px;
    width: 450px;
  }

  @include for-phone-only {
    font-size: 16px;
    line-height: 22px;
    width: 255px;
  }

  a {
    @extend .subtitle;
    color: #EB5433;
    text-decoration: none;
  }
}
