.home-banner {
  height: 40vh;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background:url('../../assets/img/HomeBanner/Vector.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;

  &--container {
    background: #FFFFFF url('../../assets/img/HomeBanner/Group.svg') no-repeat;
    background-position: 62%;
  }
  
  h1 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 59px;
    margin-bottom: 0;
    color: #3561D1;
  }

  h2 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;   
    color: #5C6163;
  }

  p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;   
    color: #5C6163;
  }

  &__top {
    position: relative;
    left: 5%;    
  }

  &__bottom {
    padding: 20px 20px 20px 70px;
    display: grid;
    grid-template-columns: 0.8fr 0.9fr 1.2fr 1.1fr;

    &--item {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 40px;
      padding-right: 40px;
     
      img {
        width: auto;
      }
      p {
        margin-left: 20px;
      }
    }
  }
}
