@import '~src/styles/mixin/media-screen.scss';

.shortSteps {
  padding: 0 175.32px;
  margin-bottom: 280px;

  @include for-small-desktop-only {
    margin-bottom: 240px;
    padding: 0 80px;
  }

  @include for-large-tablet-only {
    margin-bottom: 175px;
    padding: 0 40px;
  }

  @include for-phone-only {
    margin-bottom: 90px;
    padding: 0 20px;
  }
}

.howItWorks {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 55px;
  text-align: center;
  color: #1A2224;
  text-align: center;

  @include for-phone-only {
    font-size: 20px;
    line-height: 26px;
  }
}

.firstStep {
  margin-top: 140px;

  @include for-small-desktop-only {
    margin-top: 140px;
  }

  @include for-small-tablet-only {
    margin: 0 auto;
    margin-top: 320px;
  }

  @include for-phone-only {
    margin-top: 180px;
  }
}

.secondStep {
  margin-top: 300px;
  margin-left: auto;

  @include for-small-desktop-only {
    margin-top: 260px;
  }

  @include for-large-tablet-only {
    margin-top: 190px;
  }

  @include for-small-tablet-only {
    margin: 0 auto;
    margin-top: 500px;
  }

  @include for-phone-only {
    margin-top: 215px;
  }
}

.thirdStep {
  margin-top: 320px;

  @include for-small-desktop-only {
    margin-top: 300px;
  }

  @include for-large-tablet-only {
    margin-top: 240px;
  }

  @include for-small-tablet-only {
    margin: 0 auto;
    margin-top: 500px;
  }

  @include for-phone-only {
    margin-top: 230px;
  }
}
