@import '../../../styles/mixin/media-screen.scss';

.sixthStep {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 526px;
  height: 186px;

  @include for-phone-only {
    width: 265px;
    height: 99px;
  }

  &Container {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @include for-phone-only {
      justify-content: flex-start;
    }
  }
}

.you {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #A0ACAF;

  @include for-phone-only {
    font-size: 14px;
    line-height: 18px !important;
  }
}

.send {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #3561D1;

  @include for-phone-only {
    font-size: 22px;
    line-height: 25px;
  }
}

.delivery {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #1A2224;

  @include for-phone-only {
    font-size: 16px;
    line-height: 22px;
  }
}
