@import '~src/styles/mixin/media-screen.scss';

.firstFourthSteps {
  padding: 0 175.32px;

  @include for-small-desktop-only {
    padding: 0 80px;
  }

   @include for-large-tablet-only {
    padding: 0 40px;
  }

  @include for-phone-only {
    padding: 0 20px;
  }
}

.howItWorks {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 55px;
  text-align: center;
  color: #1A2224;
  text-align: center;

  @include for-phone-only {
    font-size: 20px;
    line-height: 26px;
  }
}

.firstStep {
  margin-top: 128px;

  @include for-small-desktop-only {
    margin-top: 100px;
  }

  @include for-small-tablet-only {
    margin: 0 auto;
    margin-top: 320px;
  }

  @include for-phone-only {
    margin-top: 160px;
  }
}

.secondStep {
  margin-top: 255px;
  margin-left: auto;

  @include for-small-desktop-only {
    margin-top: 180px;
  }

  @include for-large-tablet-only {
    margin-top: 140px;
  }

  @include for-small-tablet-only {
    margin: 0 auto;
    margin-top: 400px;
  }

  @include for-phone-only {
    margin-top: 204px;
  }
}

.thirdStep {
  margin-top: 244px;

  @include for-small-desktop-only {
    margin-top: 200px;
  }

  @include for-large-tablet-only {
    margin-top: 160px;
  }

  @include for-small-tablet-only {
    margin: 0 auto;
    margin-top: 425px;
  }

  @include for-phone-only {
    margin-top: 212px;
  }
}

.fourthStep {
  margin-top: 255px;
  margin-left: auto;

  @include for-small-desktop-only {
    margin-top: 180px;
  }

  @include for-large-tablet-only {
    margin-top: 140px;
  }

  @include for-small-tablet-only {
    margin: 0 auto;
    margin-top: 450px;
  }

  @include for-phone-only {
    margin-top: 219px;
  }
}
