.card {
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 1290px;
  height: 206px;
  position: relative;
  padding: 74px 118px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 235px;
}

.text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 57px;
  color: #1A2224;
}

.image {
  position: absolute;
  right: 0;
  top: 0;
}