@import '../../../styles/mixin/media-screen.scss';

.card {
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 1290px;
  height: 206px;
  position: relative;
  padding: 74px 118px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 235px;

  @include for-phone-only {
    height: 150px;
    max-width: 319.87px;
    margin-top: 78px;
    padding: 50px 20.69px;
  }
}

.text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 57px;
  color: #1A2224;

  @include for-phone-only {
    width: 90.83px;
    height: 50px;
    font-size: 18px;
    line-height: 23px;
    display:block;
  }
}

.image {
  position: absolute;
  right: 0;
  top: 0;
}