@import '../../styles/mixin/media-screen.scss';

.landingContainer {
  width: 100%;
}

.header {
  z-index: -1;
  background-color:#FFFFFF;
  min-height: 550px;
  padding-top: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &Waves {
    position: absolute;
    width: 100%;
    top: 450px;
  }

  &Messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  button {
    margin-top: 60px;
  }
}

.title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 47px;
  line-height: 61px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3561D1;
  margin: 0 auto 26px auto;
}

.subtitle {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1A2224;
  width: 845px;
  margin: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 100%;
  padding: 100px 7% 12px;
  grid-column-gap: 7%;

  &Container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.card {
  z-index: 2;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 274px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  position: relative;
  width: 100%;

  @include for-phone-only {
    width: 320px;
    height: 237px;
    margin-bottom: 24px;
  }

  &Icon {
    transform: translateX(-50%);;
    position: absolute;
    left: 50%;
    top: 44px;

    @include for-phone-only {
      top: 30px;
    }
  }

  &Text {
    margin-bottom: 16px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #3561D1;
    white-space: nowrap;
    transform: translateX(-50%);;
    position: absolute;
    left: 50%;
    top: 95px;

    @include for-phone-only {
      top: 82px;
    }
  }

  &Message {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1A2224;
    position: absolute;
    left: 32px;
    top: 147px;
    right: 32px;

    @include for-phone-only {
      top: 122px;
    }
  }
}

.steps {
  margin-top: 110px;
  position: relative;
}

.firstFourthSteps, .lastSteps {
  padding: 0 175.32px;
}

.shapes {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 158px;
}

.firstStep {
  margin-top: 128px;
}

.secondStep {
  margin-top: 255px;
}

.thirdStep {
  margin-top: 244px;
}

.fourthStep {
  margin-top: 255px;
}

.fifthStep {
  margin-top: 170px;
}

.sixthStep {
  margin-top: 297px;
}

.seventhStep {
  margin-top: 297px;
}

.howItWorks {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 55px;
  text-align: center;
  color: #1A2224;
  text-align: center;
}