@import '~src/styles/mixin/media-screen.scss';

.container {
  height: 100%;
  @include for-phone-only {
    padding-bottom: 50px;
  }
}

.forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  height: 100%;

  @include for-phone-only {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 145px auto;
    padding: 20px;
  }
}

.productInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include for-phone-only {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  input, div, textarea {
    width: 100%;
  }
}

.label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #1A2224;
  margin-bottom: 10px;
}

.field {
  & > * {
    margin-top: 10px;
  }
}

.prices {
  display: flex;
  flex-direction: row;

  @include for-phone-only {
    flex-direction: column;
  };
}

.price{
  margin-right: 20px;
}

.separatedTop {
  margin-top: 10px;
}

.discountArea {
  background: #F7F8FA;
  border-radius: 6px;
  width: 100%;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discountText {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #1A2224;
  margin-bottom: 12px;
}

.discountPercentage {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #1A2224;
}

.continue {
  border: none;
  background: none;
  font-family: Font Awesome 5 Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #EB5433;
  flex: none;
  order: 1;
  align-self: center;
  margin: 12px 0px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 30px;
  display: block;

  @include for-phone-only {
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    background-color: #FFFFFF;
    margin: 0;
    margin-top: 100px;
    background: #FFFFFF;
    box-shadow: 0px -2px 20px rgba(160, 172, 175, 0.2);
    vertical-align: middle;
  }
}
