.CardTimer {
  display: flex;
  flex-direction: row;
  padding: 1px 16px;
  align-items: center;
  text-align: center;

  color: #F3CA61;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  position: absolute;
  height: 28px;
  right: 12px;
  top: 12px;
  
  background: rgba(26, 34, 36, 0.8);
  border-radius: 15px;

  & > .message {
    margin-right: 8px;
  }

  & > .icon {
    height: 13.5px;
    width: 13.5px;
    align-self: center;
    margin-bottom: 1px;
    margin-right: 8px;
  }

  span {
    align-self: center;
    justify-self: center;
    margin-top: 1px;
  }
}