.CardTimer {
  display: flex;
  flex-direction: row;
  padding: 1px 16px;
  align-items: center;
  text-align: center;

  color: #F3CA61;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  position: absolute;
  width: 110px;
  height: 28px;
  left: 187px;
  top: 12px;  
  
  background: rgba(26, 34, 36, 0.8);
  border-radius: 15px;

  &__icon {
    height: 13.5px;
    width: 13.5px;
    align-self: center;
    margin-bottom: 1px;
    margin-right: 8px;
  }

  span {
    margin-top: 1px;
  }

}