@import '~src/styles/base/_colors.scss';

.container {
  padding: 0px 4%;
  background: $gray-lightest;
}

.productDetail {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
}
