.EndCheckout {
  margin: 7% 14% 0 14%;
  padding: 5% 9%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'DM Sans', sans-serif;
  background: #FFFFFF;

  h1 {
    margin-bottom: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 16px;
  }

  h2{
    font-weight: normal;
    font-size: 18px;
  }

  h4 {
    font-weight: normal;
    font-size: 14px;
    color: #A0ACAF;
  }
  
  &__thanks {
    margin-bottom: 30px;
  }

  &__redirect {
    position: absolute;
    left: 90px;
    top: 110px;
    button{
   
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;

      padding: 0;
      border: none;
      background: none;

      color: #1A2224;

      &:hover{
        color: rgb(82, 102, 102); 
      }
    }
  }

  &__checkout-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;

    &--product{
      display: flex;

      &--image{
        margin-top: 1em;
        margin-right: 30px;
        width: 130px;
        width: 100px;
        flex-shrink: 0;
        align-self: center;

        img {
          width: 100%;
          height: auto;
          border-radius: 4px;
        }
      }

      &--description {
        margin-right: 30px;
        h4{
          margin-bottom: 0;
          line-height: 24px;        
        }
        h2{
          margin-top: 0;
        }
        span{
          display: flex;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;

          color: #EB5433;

          img {
            margin-right: 4px;
          }

        }
      }
    }

    &--total {
      align-self: flex-end;
      display: flex;
      align-items: baseline;
      

      &--market {
        color: #A0ACAF;
        font-weight: normal;
        font-size: 20px;
        text-decoration: line-through;
        margin-right: 20px;
      }

      &--price{
        font-weight: bold;
        font-size: 26px;
      }
    }
  }

  &__progress-info{
    p {
      margin-bottom: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
    }

    margin-bottom: 20px;
  }

  &__share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--sharebox {
      /* Rectangle 156 */
      width: 540px;
      display: flex;
      justify-content: space-between;
      padding-left: 1em;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
    
      /* Grayscale/White */
      background: #FFFFFF;
      /* Grayscale/Dark */
      border: 1px solid #F1F3F3;
      box-sizing: border-box;
      border-radius: 6px;

      img {
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    &--sharebutton {
      outline: none;
      margin-top: 7px;
      height: 35px;
      width: 35px;
      color: white;
      background: #1A2224;
      border-radius: 32px;
    }
  }

}