@import '~src/styles/mixin/media-screen.scss';

.imagesArea {
  width: inherit;
  height: auto;
  overflow-x: hidden;
}

.label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #1A2224;
  margin-bottom: 10px !important;
}

.dropzone {
  height: 112px;
  background: #F7F8FA;
  border: 1px dashed #A0ACAF;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  margin-top: 10px;
  cursor: pointer;
}

.uploadInstructions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instructionsDetail {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 24.77px;;
}

.attach {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #1A2224;
  margin-bottom: 4px;
}

.limit {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #A0ACAF;
}

.photos {
  overflow-y: visible;
  overflow-x: auto;
  margin-top: 17px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(5, minmax(110px, 120px));
  grid-gap: 13px;
}

.photo {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #F1F3F3;
  box-sizing: border-box;
  border-radius: 6px;
}
