.addPhoto {
  position: relative;
  background: #F7F8FA;
  border: 1px dashed #A0ACAF;
  border-radius: 6px;
  width: 86px;
  height: 89px;
}

.add {
  cursor: pointer;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}