.slider {
  width: 71px;
  height: 26px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-50%);
}

.dot {
  border: none;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(26, 34, 36, 0.2);
  margin: 0;
  padding: 0;
  flex: none;
  order: 1;
  align-self: center;
  margin: 9px 0px;
  background: #A0ACAF;

  &Selected {
    @extend .dot;
      width: 7px;
      height: 7px;
  }

  &UnSelected {
    @extend .dot;
      width: 5px;
      height: 5px;
  }
}