@import '~src/styles/base/_colors.scss';

.Arrow {
  display: flex;
  flex-direction: row;
  width: 44px;
  height: 44px;
  padding: 12px;
  border: none;
  box-shadow: 0px 4px 4px rgba(26, 34, 36, 0.1);
  border-radius: 4px;
  cursor: pointer;

  &:active {
    outline: none;
    border: none;
  }
}

.yellowArrow {
  @extend .Arrow;
  background: $black;
}

.blackArrow {
  @extend .Arrow;
  background: $accent-yellow;
}
