.input {
  min-height: 90px;
  background: #FFFFFF;
  border: 1px solid #F1F3F3;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  align-items: center;
  letter-spacing: 0.01em;
  padding: 16px;
  color: #1A2224;
  resize: none;
  outline: none;

  &Placeholder {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #A0ACAF;
    overflow: visible;
    display: flex;
    justify-content: center;
  }

  &Error {
    @extend .input;
    border: 1px solid #FF4F4F;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(255, 79, 79, 0.2);
    border-radius: 6px;
  }

  &Focused {
    @extend .input;
    border: 1px solid #3561D1;
    box-sizing: border-box;
    border-radius: 6px;
  }

  &::placeholder {
    @extend .inputPlaceholder;
  }

  &:focus{
    @extend .inputFocused;
  }
}

.container {
  position: relative;
  margin-bottom: 22px;

  &Error {
    position: relative;
    margin-bottom: 40px;
  }
}

.errorText {
  position: absolute;
  left: 0px;
  top: 104px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #FF4F4F;
}
