.product-detail {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;

  &--container {
    padding: 0px 75px;
    height: 100%;
    background: #F7F8FA;
  }

  &__pictures {
    position: relative;
    grid-column: 1 / 8;

    &__img {
      margin-top: 32px;
      border-radius: 4px;
      height: 509px;
      background-size: cover;
      background-position: top;
    }

    &__home-link {
      margin-top: 35px;
      display: flex;
      text-decoration: none;
      :last-child {
        margin-left: 12px;
      }
    }
  }
}