@import '~src/styles/mixin/media-screen.scss';

@mixin flex-center () {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MyProducts {
  padding: 35px 5%;
  height: auto;
  @include for-phone-only {
    padding: 15px;
  }
  font-family: DM Sans;
  background:#F7F8FA;

  h1 {
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
    margin-top: 24px;
    margin-bottom: 35px;
    @include for-phone-only {
      font-size: 20px;
      margin-top: 9px;
      margin-bottom: 14px;
    }
  }

  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }

  ul {
    padding: 0;
    list-style: none
  }

  li {
    padding: 0;
    border-top: 1px solid #F1F3F3; 
    border-bottom: 1px solid #F1F3F3;
    @include for-phone-only {
      border: none;
    }
  }

  &__go-home {
    text-decoration: none;
    font-family: 'DM Sans';
    font-size: 16px;
    line-height: 18px;
    color: #1A2224;
    &:hover{
      color: rgb(82, 102, 102); 
    }
    @include for-phone-only {
      display: none;
    }
  }

  &__data {
    background:#FFFFFF;
    padding: 30px 30px 5px 30px;
    @include for-phone-only {
      background: none;
    }
    &--status {
      max-height: 45px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        margin: 0;
        font-weight: 500;
        font-size: 19px;
      }
      button {
        height: 45px;
        @include for-phone-only {
          display: none;
        }
      }
    }
    &--mobileBtn {
      display: none;
      @include for-phone-only {
        width: 100%;
        display: block;
        button {
          height: 45px;
          margin: 0 auto;
        }
      }
    }
  }

  &__List {
    &--container {
      background: #FFFFFF;
      @include for-phone-only {
        background: none;
      }
    }
    &--headers {
      @include for-phone-only {
        display: none;
      }
      padding-left: 30px;
      display: grid;
      grid-template-columns: 2.5fr repeat(3,1fr) 1.5fr 0.5fr;
      grid-column-gap: 5px;
      p {
        @include flex-center();
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        &:first-child {
          align-items: flex-start;
        }
      }
    }

    &__item {
      padding-left: 30px;
      background-color: white;
      height: 150px;
      display: grid;
      grid-template-columns: 2.5fr repeat(3,1fr)  1.5fr 0.5fr;
      &--description {
        display: flex;
        span{
          color: #A0ACAF;
        }
      }
      &--image {
        width: 140px;
        max-height: 125px;
        margin: 12px 20px 12px 0px;
        padding: 12px;
        border-radius: 4px;
      }
      &--info {
        padding: 6% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &--price {
        @include flex-center();
        span{
          color: #A0ACAF;
          text-decoration: line-through;
        }
      }
      &--discount {
        @include flex-center();
      }
      &--participants {
        @include flex-center();
      }
      &--expireDate {
        @include flex-center();
      }
      &--more{
        @include flex-center();
        button {
          position: relative;
          font-size: 26px;
          padding: 0;
          border: none;
          background: none;
          outline: none;
          cursor: pointer;
        }

        &__dropdown {
          top: 27px;
          right: 34%;
          z-index: 999;
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          padding: 30px 20px;
          background: #FFFFFF;
          box-shadow: 0px 4px 15px rgba(160, 172, 175, 0.15);
          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 16px;
          color: #1A2224;
        }
      }

      @include for-phone-only {
        margin-bottom: 14px;
        padding: 14px;
        background-color: white;
        box-shadow: 0px 4px 15px rgba(160, 172, 175, 0.15);
        height: 210px;
        display: grid;
        grid-template-areas: "info info" "price discount" "expire group";
        grid-template-columns: 1.7fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        p {
          font-size: 15px;
          line-height: 20px;
          margin-top: 2px;
          margin-bottom: 0px !important;
        }
        span {
          font-size: 12px;
          line-height: 16px;
        }
        &--description {
          grid-area: info;
          border-bottom: 1px solid #F1F3F3;
          height: 70px;
          display: flex;
          span{
            color: #A0ACAF;
          }
        }
        &--image {
          width: 60px;
          max-height: 55px;
          margin: 0 !important;
          border-radius: 4px;
        }
        &--info {
          padding: 0px 0px 0px 8px;
          display: flex;
          height: 80px;
          max-width: 70vw;
          flex-direction: column-reverse;
          justify-content: flex-end;
          &--id {
            display: none;
          }
        }
        &--price {
          padding-top: 12px;
          padding-left: 8px;
          grid-area: price;
          align-items: flex-start;
          justify-content: flex-start;
          span{
            display: none;
          }
          &::before {
            font-size: 13px;
            line-height: 16px;
            content: 'Precio';
            color: #A0ACAF;
          }
        }
        &--discount {
          grid-area: discount;
          padding-top: 12px;
          align-items: flex-start;
          justify-content: flex-start;
          span{
            display: none;
          }
          &::before {
            font-size: 13px;
            line-height: 16px;
            content: 'Descuento';
            color: #A0ACAF;
          }
        }
        &--participants {
          grid-area: group;
          align-items: flex-start;
          justify-content: flex-end;
          span{
            display: none;
          }
          &::before {
            font-size: 13px;
            line-height: 16px;
            content: 'Grupo';
            color: #A0ACAF;
          }
        }
        &--expireDate {
          grid-area: expire;
          padding-left: 8px;
          align-items: flex-start;
          justify-content: flex-end;
          span{
            display: none;
          }
          &::before {
            font-size: 13px;
            line-height: 16px;
            content: 'Expiracion';
            color: #A0ACAF;
          }
        }
        &--more{
          grid-area: info;
          position: relative;
          width: 40px;
          bottom: 30%;
          left: 94%;
        }
      }
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    @include for-phone-only {
      height: 70vh;
      padding: 40px;
    }
    background: #FFFFFF;
    h2 {
      font-weight: 500;
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 0px;
      text-align: center;
      @include for-phone-only {
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
      }
    }
    p {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 50px;
      text-align: center;
      @include for-phone-only {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}