.purchases {
  padding: 35px 5%;
  width: 100%;
  font-family: DM Sans;
  background:#F7F8FA;

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
  }
}

.container {
  width: 100%;
  height: fill;
  background: #FFFFFF;
}

.displayContainer {
  display: flex;
  flex-direction: column;
  ul {
    padding: 0;
    list-style: none
  }
  li {
    padding: 0;
  }
  button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
  }

  & > .statusHeaders { 
    ul {
      display: flex;
      justify-items: flex-start;
      border-bottom: 2px solid #F1F3F3;
    }
    li {
      position: relative;
      bottom: -2px;
      padding: 5px 45px 12px;
      &:first-child {
        border-bottom: 3px solid #EB5433;
      }
    }
  }

  & > .listContainer {
    padding: 0;    
  }
}

@mixin listGrid {
  display: grid;
  grid-template-columns: 3.7fr 1fr 1.7fr 1.2fr 1.2fr;
  grid-column-gap: 8px;
}

.listHeaders {
  @include listGrid();
  padding: 0px 30px;
  font-family: DM Sans;
  font-size: 14px;
  line-height: 22px;
  color: #A0ACAF;
}

.item {
  height: 130px;
  padding: 12px 30px;
  @include listGrid();
  font-family: DM Sans;
  font-size: 16px;
  line-height: 22px;  
  border-top: 1px solid #F1F3F3;
  border-bottom: 1px solid #F1F3F3;

  p {
    margin: 6px 0px;
  }

  & > .productData {
    display: flex;
    margin-right: 20px;

    & > .image {
      min-width: 100px;
      max-height: 100px;
      margin-right: 25px;
      border-radius: 4px;
    }
    & > .info {
      margin-top: 6px;
      span {
        font-family: DM Sans;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #EB5433;
        text-transform: uppercase;
        img {
          height: 12px;
          padding-top: 2px;
          margin-right: 2px;
        }
      }
    } 
  }

  & > .prices {
    align-self: center;
    margin-left: 3px;
    span {
      font-size: 14px;
      line-height: 22px;
      text-decoration-line: line-through;
      color: #A0ACAF;
    }
    p {
      margin-top: 10px;
    }
  }

  & > .group {
    align-self: center;
    p {
      margin-bottom: 12px;
    }
  }

  & > .expiresAt {
    margin-top: 20px;
    max-width: 100px;
    position: relative;
    left: 15px;
  }

  & > .more {
    align-self: center;
    margin-left: auto;
    img {
      cursor: pointer;
      height: 20px;
      margin-left: 30px;
    }
  }
}
 
.empty {
  display: flex;
  height: 67vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
  }
  p {
    margin: 16px 0px 62px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
  }
}

.goHome {
  text-decoration: none;
  font-family: 'DM Sans';
  font-size: 16px;
  line-height: 18px;
  color: #1A2224;
  &:hover{
    color: rgb(82, 102, 102); 
  }
}