.react-datepicker{
  font-family: DM Sans;
  font-size: 1em;
  border: none;
  right: 13%;

  &__header {
    padding-top: 0.8em;
    background: none;
    border-bottom: none;
  }

  &__month-container {
    box-shadow: 0px 4px 15px rgba(160, 172, 175, 0.15);
    border-radius: 6px;
    padding-bottom: 20px;
  }
  &__current-month {
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    color: #A0ACAF;
    text-transform: capitalize;
    margin: 4px 15px 15px;
  }

  &__month{
    margin: 0.4em 1em;
  }

  &__day-names {
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
  }

  &__day {
    width: 22px;
    line-height: 1.9em;
    margin: 7px;
    &--outside-month {
      color: #A0ACAF;
    }
  }
  
  &__day-name {
    width: 22px;
    line-height: 1.9em;
    margin: 7px;
  }
  
  &__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
    &--previous {
      background: url(../../../vectors/left-arrow.svg) no-repeat;
      width: 15px;
      height: 15px;
      border: none;
    }
    &--next {
      background: url(../../../vectors/right-arrow.svg) no-repeat center;
      width: 15px;
      height: 15px;
      border: none;
    }
  }
}
