@import '~src/styles/mixin/media-screen.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 278px;
  height: 78px;
  font-family: DM Sans;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(160, 172, 175, 0.15);
  border-radius: 6px;
  @include for-phone-only {
    width: 290px;
  }
  input {
    text-align: center;
    font-size: 16px;
    line-height: 14px;
    border: none;
    outline: none;
    width: 60px;
    @include for-phone-only {
      max-width: 60px;
    }
    &::placeholder{
      color: #A0ACAF;
    }
  }

  .buttonNot {
    background: #3561D1;
    border: 1px solid #3561D1;
    border-radius: 3px;
    color: white;
    padding: 6px;
    margin: 4px;
  }

  .buttonYes {
    background: #F1F3F3;
    border: 1px solid #3561D1;
    border-radius: 3px;
    padding: 6px;
    margin: 4px;
  }
  
}