@import '~src/styles/mixin/media-screen.scss';

.form {
  width: 526px;
  display: flex;
  flex-direction: column;
  z-index: 50;

  input {
    width: 100%;
  }

  .button-default__orange {
    margin-top: 28px;
  }

  @include for-small-tablet-only {
    width: 100%;
  }
}

.formInline {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 16px;
  width: 100%;

  @include for-small-tablet-only {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.links {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #3561D1;
  text-decoration: none;
  margin-bottom: 20px;

  &:active, &::selection {
    color: #3561D1;
    text-decoration: none;
  }
}

.terms {
  height: 36px;
  margin-top: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #A0ACAF;
}

.news {
  text-align: center;
  margin-top: 20px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1A2224;
  margin-bottom: 102px;

  a {
    margin-left: 8px;
  }
}

.labels {
  width: 45px;
  height: 18px;
  margin-bottom: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #1A2224;
}
