@import '~src/styles/mixin/media-screen.scss';

.landingContainer {
  width: 100%;

  @include for-phone-only {
    padding-bottom: 62px;
  }
}

.steps {
  margin-top: 110px;
  position: relative;
  @include for-phone-only {
    margin-top: 20px;
  }
}

.shapes {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 158px;

  @include for-phone-only {
    top: 58px;
  }
}

.onlyDesktop {
  @include for-phone-only {
    display: none;
  }
}

.onlyMobile {
  display: none;
  @include for-phone-only {
    display: initial;
  }
}