@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.EndCheckout {
  height: 65%;
  width: 70%;
  padding: 1em 10em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'DM Sans', sans-serif;
  background: #FFFFFF;

  h1 {
    margin: 0;
    font-weight: 500;
    font-size: 31px;
  }

  h2{
    font-weight: normal;
    font-size: 18px;
  }

  h4 {
    font-weight: normal;
    font-size: 14px;
    color: #A0ACAF;
  }
  
  &__redirect {
    button{
      position: absolute;
      left: 6.46%;
      right: 81.6%;
      top: 12.33%;
      bottom: 85.67%;

      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;

      padding: 0;
      border: none;
      background: none;

      color: #1A2224;

      &:hover{
        color: rgb(82, 102, 102); 
      }
    }
  }

  &__checkout-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--product{
      display: flex;

      &--image{
        margin-top: 1em;
        margin-right: 3em;
        width: 130px;
        width: 100px;
        flex-shrink: 0;

        img {
          width: 100%;
          height: auto;
          border-radius: 4px;
        }
      }

      &--description {
        margin-right: 3em;
        h4{
          margin-bottom: 0;
          line-height: 24px;        
        }
        h2{
          margin-top: 0;
        }
        span{
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;

          color: #EB5433;

        }
      }
    }

    &--total {
      align-self: flex-end;
      display: grid;
      align-items: baseline;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1em;

      &--market {
        color: #A0ACAF;
        font-weight: normal;
        font-size: 20px;
        text-decoration: line-through;
      }

      &--price{
        font-weight: bold;
        font-size: 26px;
      }
    }
  }

  &__progress-info{
    p {
      margin-bottom: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--sharebox {
      /* Rectangle 156 */
      width: 540px;
      display: flex;
      padding-left: 1em;
      font-weight: normal;
      font-size: 16px;
    
      /* Grayscale/White */
      background: #FFFFFF;
      /* Grayscale/Dark */
      border: 1px solid #A0ACAF;
      box-sizing: border-box;
      border-radius: 6px;
    }

    &--sharebutton {
      height: 35px;
      width: 35px;
      color: white;
      background: #1A2224;
      border-radius: 32px;
    }
  }

}