@import '~src/styles/mixin/media-screen.scss';

.container {
  min-height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 150px 100px;

  background: url('~vectors/coming-soon.svg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;

  h1 {
    margin:0px;
    font-size: 52px;
    line-height: 56px;
  }
  h2 {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
  }
  h3 {
    margin-bottom: 27px;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
  p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 30px;
  }

  @include for-large-tablet-only {
    background: url('~vectors/coming-soon-wave.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
  }

  @include for-small-tablet-only {
    min-height: calc(100% - 50px);
    padding: 35px 22px;

    h1 {
      text-align: center;
    }
    h3 {
      text-align: center;
    }
  }

  @include for-phone-only {
    h1 {
      font-size: 26px;
      line-height: 36px;
    }
    h2 {
      font-size: 16px;
      line-height: 22px;
    }
    h3 {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
    p {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.top {
  max-width: 600px;

  @include for-small-tablet-only {
    margin: auto;
    padding-bottom: 40px;

    button {
      margin: 0 auto;
    }
  }
}

.bottom {
  max-width: 570px;
  @include for-small-tablet-only {
    max-width: none;
  }
}

.inputButton {
  display: flex;
  height: 45px;

  @include for-small-tablet-only {
    width: 100%;
  }

  input {
    min-width: 350px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    @include for-small-tablet-only {
      min-width: 100px;
      width: 100%;
    }
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 15px 18px;
    padding-right: 20px;
  }
}
