.card {
  position: relative;
  max-width: 1290px;
  height: 247px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 118px;
  margin: 255px auto;
}

.text {
  z-index: 4;
  max-width: 617px;
  height: 100px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 50px;
  color: #1A2224;
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
}