
.SignForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;

  form {
    width: 70vh;
    padding: 4rem 4rem;
    background-color:#FFFFFF;
    display: flex;
    flex-direction: column;
  }

  input {
    outline: none;
    width: 100%;
    padding: 22px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-bottom: 2rem;
    font-size: large;

    &:focus{
      border: 3px solid rgb(153, 153, 153);
    }
  }

  button {
    margin-top: 10rem;
    padding: 2rem 2rem;
  }
}