.header {
  height: 248px;
  width: 100%;
  background: #3561D1;
  position: relative;
  padding-top: 54px;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
}

.waves {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 171px;
  width: 100%;
}

.title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.subtitle {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}