$primary-red: #EB5433;
$accent-yellow: #F3CA61;
$accent-blue: #3561D1;

$success: #60D890;
$error: #FF4F4F;

$black: #1A2224;
$white: #FFFFFF;

$gray: #A0ACAF;
$gray-light: #F1F3F3;
$gray-lightest: #F7F8FA;
