.DMSansMedium {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
}

.DMSansRegular {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
}

.DMSansBold {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
}
