@import './fonts.scss';
@import './colors.scss';

// page

.title {
  @extend .DMSansRegular;
  font-size: 30px;
}

.button {
  @extend .DMSansMedium;
  font-size: 18px;
}

.buttonLink {
  @extend .button;
  color: $accent-blue;
}

.textLink {
  @extend .DMSansMedium;
  color: $accent-blue;
  font-size: 16px;
}

.copy {
  @extend .DMSansRegular;
  font-size: 12px;
  color: $black;
}

// cards

.mainPrice {
  @extend .DMSansBold;
  font-size: 16px;
}

.oldPrice {
  @extend .DMSansRegular;
  font-size: 16px;
  text-decoration: line-through;
}

.discount {
  @extend .DMSansRegular;
  color: $primary-red;
  font-size: 14px;
}

.counter {
  @extend .DMSansMedium;
  font-size: 16px;
}

.body {
  @extend .DMSansRegular;
  font-size: 16px;
}

.productComplementaryInfo {
  @extend .DMSansRegular;
  font-size: 14px;
  color: $gray;
}
